/* for devices with width more than 1000px */

@media (min-width: 1000px) {
  /* header */

  .header {
    gap: 80px;
    padding: 30px 50px;
  }

  .logo {
    height: fit-content;
  }

  .menu-btn {
    display: none;
  }

  /* nav-bar */

  .mobile-nav {
    position: static;
    width: 100%;
    height: fit-content;
    padding: 0;
  }

  .background {
    display: none;
  }

  .nav-container {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    background: transparent;
    padding: 0;
  }

  .hidden .nav-container {
    opacity: 1;
    visibility: visible;
  }

  .close-btn {
    display: none;
  }

  .nav {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .nav-item {
    position: relative;
  }

  .nav-btn,
  .nav-item a {
    padding: 10px 25px;
  }

  /* drop-down menu */

  .menu {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .open .menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 55px;
    padding: 20px 0;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: white;
    width: fit-content;
    height: fit-content;
  }

  .menu li {
    padding: 10px 30px;
  }

  /* login and register btn */

  .btn-container {
    flex-direction: row;
    gap: 10px;
  }

  .btn-container button {
    padding: 15px 30px;
  }
}

/* for devices with width more than 1350px */

@media (min-width: 1350px) {
  /* main */

  .main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    min-height: calc(100vh - 110px);
    gap: 50px;
    padding: 40px 10% 4% 10%;
  }

  .img-container {
    width: 100%;
    background-image: url(../images/image-hero-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  .img-container .mobile {
    display: none;
  }

  .info-container {
    align-items: start;
    justify-content: end;
    gap: 20%;
    padding: 0;
  }

  .info {
    gap: 50px;
    align-items: flex-start;
  }

  .heading,
  .heading span {
    text-align: start;
    font-size: 4rem;
  }

  .heading span {
    display: block;
  }

  .text {
    max-width: 25rem;
    width: 25rem;
    text-align: start;
  }

  .logo-container {
    max-width: 100%;
    justify-self: flex-end;
  }

  .logo-container img {
    width: 150px;
  }
}
